<% layout("/layouts/boilerplate")%>

    <body>
        <h3>All listing</h3>
        <!-- <form method="GET" action="/listings/new">
        <button>create new listing</button>
    </form> -->
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <% for(let listing of allListing) {%>
                <div class="card col" style="width: 20rem;">
                    <img src="<%= listing.image.url %>" alt="<%= listing.title %> Image">
                    <div class="card-body">
                        <p class="card-text">
                            <%=listing.title%>
                        </p>
                        &#8377; <%= listing.price.toLocaleString('en-IN') %> /night
                    </div>
                </div>
                <% }%>
        </div>