<% layout("/layouts/boilerplate")%>
<body>
    <h3>Create a new listing</h3>
    <form method="POST" action="/listings">
        <input name="listing[title]" placeholder="Title" required/><br><br>
        <textarea name="listing[description]" placeholder="Enter description" type="text" required></textarea><br><br>

        <!-- Provide both filename and URL fields for the image -->
        <input type="text" name="listing[image][filename]" placeholder="Image Filename" required/><br><br>
        <input type="text" name="listing[image][url]" placeholder="Image URL" required/><br><br>

        <input name="listing[price]" placeholder="Enter price" type="number" required/><br><br>
        <input name="listing[country]" placeholder="Enter country"/><br><br>
        <input name="listing[location]" placeholder="Enter location"/><br><br>
        <button type="submit">Add</button>
    </form>
</body>
