<% layout("/layouts/boilerplate")%>
<body>
    <h3>Create a new listing</h3>
    <form method="POST" action="/listings">
        <input name="listing[title]" placeholder="title"/><br><br>
        <textarea name="listing[description]" placeholder="enter description" type="text"></textarea><br><br>

        <input type="text" name="listing[image]" placeholder="image here" required>
 
        <input type="text" name="listing[image]" placeholder="image here" required><br><br>
        <input name="listing[price]" placeholder="enter price" type="number"/><br><br>
        <input name="listing[country]" placeholder="enter country"/><br><br>
        <input name="listing[location]" placeholder="enter loaction"/><br><br>
        <button>Add</button>
    </form>
</body>
